<%- include ("./partials/_header.ejs") %>
  <link rel="stylesheet" href="css/style.css">  
  <body style="background-color: #CDDDFF;">
    <%- include ("./partials/_navbar.ejs") %>
    <% var cont = 0 %>
    <table class="striped highlight centered" >
      <% for (var i =0; i < diets.length; i++)  {     %>
        <% if (i%3 == 0){ %>
          <% cont += 1%>
      <thead>
        <tr>
            <th>Diet #<%= cont %></th>
        </tr>
      </thead>
      <%  }  %>

      <tbody>
        <tr>
          <td><div>
            <p><strong> <%= diets[i].title %> </strong> </p>
            <img src="<%= diets[i].image %>" alt="paltillo" style="width: 200px; border-radius: 25px;">
            <p><a target="_blank" rel="noopener noreferrer" href="<%= diets[i].link %>" target="_blank">Link to the recipe</a></p>
          </div></td>
        </tr>
        <%  i = i + 1  %>
        <%  }  %>
      </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});
    </script>
</body>
</html>